<% layout('layouts/boilerplate') %> 

    <div>       
         <a href="/spots/<%= spot._id %>/edit">Edit Spot</a>
    </div>

        <h1><%= spot.title %> </h1>
        <p><%= spot.description %> </p>
         <p><%= spot.location %> </p> 

         <form action="/spots/<%=spot._id%>?_method=DELETE" method="POST">
         <button type="submit">Delete</button>
        </form>
